<!DOCTYPE HTML>
<html lang="en">
  <%= render '/head.*' %>
  <body>
    <%= render '/header.*' %>
    <div class="main class">
      <%= yield %>
    </div>
  </body>

  <%= render '/footer.*' %>
  <%= render '/analytics.*' %>
</html>
